
.bg {
  height: 100vh;
  background: var(--background);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 

}
.land-h1 {
  color:var(--white);
  font-family: var(--lg_font);
  font-size: 40px;
  font-weight: bold;
}

.h1-main {
  color: var(--green);
  font-family: var(--lg_font);
  font-size: 40px;
}

.p_main {
  color: var(--green);
  font-family:var(--sm_font);
  font-size: 18px;
}

@keyframes borderAnimation {
  0% {
    border-color: #009245;
  }
  25% {
    border-color: #fcee21;
  }
  50% {
    border-color: #00a8c5;
  }
  75% {
    border-color: #d9e021;
  }
  100% {
    border-color: #009245;
  }
}

.btn-land {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  transition:1s ease-in-out;
  background: linear-gradient(45deg, #01690f, #039730); /* Gradient colors */
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
  border: 2px solid #009245;  /* Initial border color to match the animation */
  animation: borderAnimation 4s infinite;
}

.btn-land:hover {
  background-position: 100% 0;
  background: linear-gradient(45deg, #99d173, #1d4701);
  color: #e5ece6;
}

.btn-land:focus {
  outline: none;
}
.fea-main {
  background:var(--footer_background);
}


.main-img {
  max-height: 250px;
  max-width: 300px;
  border-radius: 50px;
  background: #57ca4e;
  animation: blink-shadow 1.5s ease-in-out infinite alternate;
}

@keyframes blink-shadow {
  from {
    box-shadow: 20px 20px 60px #4aac42, -20px -20px 60px #64e85a;
  }

  to {
    box-shadow: none;
  }
}

.features {
  color: var(--green);
  font-size: 40px;
  font-family: var(--lg_font);
}


