.update_password_section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: var(--footer_background);
    width: 100%;
    height: 85vh;

}

.form_container {
    max-width: 100%;
    color: var(--body_color);
}

.form_container h1 {
    color: var(--nav-col);
    border-bottom: 2px solid var(--white);
    font-family: var(--lg-font);
    font-size: 28px;
}

.form_container .form-control {
    border: 2px solid var(--white);
    font-size: 18px;
}
.form_container .form-control::placeholder {
    color: rgb(255, 255, 255); 
}

.form_container .btn {
    background-color: rgb(10, 10, 10);
    color: var(--white);
    font-weight: 500;
    border:2px solid var(--white);
}
