.favorite_container .main_header {
    border: 3px solid rgb(0, 156, 39);
    border-radius: 5px;
}

.favorite_container .main_header h1 {
    color: var(--white);
    font-family: var(--lg_font);
    letter-spacing: 1px;
    font-size: 35px;
    text-wrap: wrap;

}

.favorite_container .movie_row .card {
    max-width: 100%;
    height: 250px;
}

.favorite_container .movie_row .card  .card-img {
    height: 250px;

}

.favorite_container .movie_row .card-text {
    color: var(--nav-col);
    font-family: var(--lg_font);
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
}