.login_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
}

.login_section .login_container {
  border: none;
  background: var(--card-body);
  border-radius: 22px;
  padding: .12rem;
  max-width: 500px;
  width: 100%;
}

.login_section .login_container h1 {
  color: var(--white);
  font-family: var(--lg-font);
}

.login_section .login_container form input {
  border-radius: 22px;
  border: none;
  background: rgba(211, 204, 204, 0.793);
  color: black;
  padding: .5rem;
  margin-bottom: .25rem;
}

.login_section .login_container form .signin_button {
  color: var(--white);
  background-color: rgb(9, 105, 0);
  border: none;
  border-radius: 22px;
  padding: .5rem;
}

.login_section .login_container form .bottom_section {
  color: var(--white);
  font-family: var(--sm-font);
  font-size: 13px;
}

.login_section .login_container form .bottom_section a {
  color: var(--white);
}

.login_section .login_container form .bottom_section .text_bold {
  font-weight: 600;
  font-size: 15px;
}

.error_message {
  color: rgb(243, 0, 0);
}
