.manage_users{
    background: var(--card-body);
}

.manage_users .users_container {
    border: 3px solid rgb(0, 184, 0);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.manage_users .users_container:hover {
    background-color: rgba(79, 203, 228, 0.064);
}


.manage_users .users_container .first_part .username_part {
    color: var(--footer_background);
}

.manage_users .users_container .first_part .username_part h1 {
    font-family: var(--lg_font);
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--white);

}

.manage_users .users_container .second_part a {
    color: var(--nav-col);
    font-family: var(--sm_font);
    font-size: 12px;
    letter-spacing: 1px;
}