.footer{
    background: var(--green);
}
.footer_section h3 {
    color:var(--nav-col);
    font-family: var(--lg_font);
}
.footer_section p {
    color:var(--nav-col);
    font-family: var(--lg_font);
    font-size: large;
}

.footer .footer_section a {
    text-decoration: none;
    color: var(--nav-col);
    font-size: large;
   
}

